<STYLE TYPE="text/css">
				table{
					border: 0;
					border-spacing : 0px;
					border-collapse : collapse;
				}

				body {
					background-color: #00105F;
					font : 14px Arial, Helvetica, sans-serif;
				}



                div {}

				.boxhead {
					color : #BFC3D7;
					background-color: #5F0010;
					font-weight : bold;
					text-indent : 5px;

				}

                .navbar-custom {
					background-color: #00105F;
					font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
					color: black;
				}

				.bgwhite {
				    background-color: #FFFFFF;
				}
				.normtd {
					font-family : Arial, Helvetica, sans-serif;
				}
				.bigtd {
					font-family : Arial, Helvetica, sans-serif;
				}
				.main{
					background-color:Gray;
					border : thick inset Gray;
					font-family : Arial, Helvetica, sans-serif;
				}
				.side {
					font-family : Arial, Helvetica, sans-serif;
					background-color: #D4D4D4;
					letter-spacing : 1px;
					vertical-align : baseline;
					border-top : thin ridge Silver;
					border-right : thin ridge Silver;
					border-left : thin ridge Silver;
					background : Silver;
					padding-left : 10px;
				}
				.top {
					background-color: #00105F;
					font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
					color: white;
				}
				h1
				{
					font-family : Arial, Helvetica, sans-serif;
				}
				.title{
					letter-spacing : 1.5px;
					margin-left : 10px;
					text-align : left;
				}

				.xl24
				{font-size:12.0pt;
					font-weight:700;
					font-family:Arial, sans-serif;
					text-align:left;
					border:.5pt solid windowtext;
					background:gray;}
				.xl25
				{font-family:Arial, sans-serif;
					text-align:center;
					vertical-align:middle;
					border-top:.5pt solid windowtext;
					border-right:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:.5pt solid windowtext;
					background:silver;}
				.xl26
				{font-size:12.0pt;
					font-family:"Arial Black", sans-serif;
					text-align:center;
					border-top:.5pt solid windowtext;
					border-bottom:none;
					border-left:none;
					background:white;}
				.xl27
				{font-family:Arial, sans-serif;
					text-align:center;
					border-top:.5pt solid windowtext;;
					border-right:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:.5pt solid windowtext;
					background:silver;}
				.xl28
				{font-size:12.0pt;
					font-family:Arial, sans-serif;
					text-align:center;
					border-top:none;
					border-right:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:none;
					background:gray;}
				.xl29
				{font-size:12.0pt;
					font-family:Arial, sans-serif;
					text-align:center;
					border-top:none;
					border-right:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:none;}
				.xl30
				{font-size:12.0pt;
					font-family:Arial, sans-serif;
					text-align:center;
					border-top:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:none;
					background:white;}
				.xl31
				{font-size:12.0pt;
					font-family:Arial, sans-serif;
					text-align:center;
					border-top:none;
					border-right:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:none;
					background:white;}
				.xl32
				{font-size:14.0pt;
					font-family:Arial, sans-serif;}
				.xl33
				{font-size:12.0pt;
					font-family:Arial, sans-serif;
					text-align:center;
					border-top:.5pt solid windowtext;
					border-right:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:none;}
				.xl34
				{font-size:12.0pt;
					font-family:Arial, sans-serif;
					text-align:center;
					border-top:none;
					border-right:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:none;}
				.turd
				{font-size:12.0pt;
					font-family:Arial, sans-serif;
					text-align:center;
					border-top:.5pt solid windowtext;
					border-right:.5pt solid windowtext;
					border-bottom:.5pt solid windowtext;
					border-left:none;
					background:white;}
</STYLE>