{% extends "bootstrap/base.html" %}

{% block title %}COPAH{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block styles %}
{{super()}}  {# do not forget to call super or Bootstrap's own stylesheets will disappear! #}
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<link href="{{url_for('static', filename='css/copah.css')}}" rel="stylesheet"
      type="text/css">
{% endblock %}

{% block metas %}
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
{% endblock %}


{% block navbar %}
<!--<div class="text-center"><img src="{{ url_for('static', filename='banner/Futuristic.gif') }}"></div>-->

<nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
    <div class="container-fluid mx-5">
        <a class="navbar-brand" href="{{ url_for('home') }}"><img
                alt="" class="d-inline-block align-text-top" height="40"
                src="{{ url_for('static', filename='img/LogoTransparent.gif')}}"><span
                style="font-size:24px">COPAH</span></a>
        <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a aria-current="page" class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarAboutMenuLink" role="button">About</a>
                    <ul aria-labelledby="navbarAboutMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('members') }}">People</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('gallery') }}">Gallery</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('history', chapter=1) }}">History</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="#" id="navbarEventsMenuLink">Events</a>
                    <ul aria-labelledby="navbarEventsMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('happenings') }}">Happenings</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('karaoke') }}">Karaoke</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('luau') }}">Luau</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('mardigras') }}">Mardi Gras</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('fiesta') }}">Fiesta</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="#" id="navbarCardsMenuLink">45 Dealings</a>
                    <ul aria-labelledby="navbarCardsMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('tournaments') }}">Tournaments</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('rankings') }}">Rankings</a></li>
                        <li><a class="dropdown-item" href="https://dsull29.github.io/45s/">Play 45</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('rules_of_45') }}">Rules</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="#" id="navbarFootballMenuLink">FFL</a>
                    <ul aria-labelledby="navbarFootballMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('football_upload') }}">Upload Football Season</a>
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('football_owners') }}">Owners</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('football_totals') }}">Totals</a></li>
                    </ul>
                </li>

                {% if current_user.is_authenticated: %}
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="#" id="navbarMemberMenuLink">Members</a>
                    <ul aria-labelledby="navbarMemberMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('news_post') }}">News&nbsp;Updates</a></li>
                        <!--                        <li><a class="dropdown-item" href="#">Group Email</a></li>-->
                        <li><a class="dropdown-item" href="{{ url_for('add_event') }}">Add Event</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>


{% endblock %}