<html>
<head>
    <title>C.O.P.A.H. Events\Fiesta</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>Events</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Fiesta</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right"><strong>Date:</strong></td>
                            <td>August 7th, 2004</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Location:</strong></td>
                            <td>Same as last year.</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Time:</strong></td>
                            <td>4pm-Whenever</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Cover Charge:</strong></td>
                            <td>$10</td>
                        </tr>
                        <!--                        <tr>-->
                        <!--                            <td align="right"><strong>Official Invite:</strong></td>-->
                        <!--                            <td><a href="fiestainvite.doc">Click Here</a></td>-->
                        <!--                        </tr>-->
                        <tr>
                            <td align="right"><strong>Kegs:</strong></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Music Playlist:</strong></td>
                            <td><a href="{{ url_for('fiestalist') }}">Click Here</a></td>
                        </tr>
                        <!--                        <tr>-->
                        <!--                         <td align="right"><strong>Pictures:</strong></td>-->
                        <!--                         <td><a href="javascript:newWindow('display.asp?Pic=1&Event=MardiGras&Title=Mardi Gras 2003')">Click Here</a></td></tr>-->


                    </table>
                </td>
                <!--                <td rowspan="3"><img src="{{ url_for('static', filename='graphics/saxmask.gif') }}"><br></td>-->
            </tr>

            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It's just day's away now. Here's what you can look forward to... We
                    got a taco bar this year. Soft and hard tacos, beef and chicken, all the fixings you'd want and some
                    we're pretty sure nobody wants. We've also got burgers, dogs, and all that other cookout food you've
                    come to know and love. We've got a keg, we've got sangria, we've got margarittas, we've got jello,
                    and we've got puckers. If you're not drunk by 6pm you had better the designated driver because
                    otherwise there is no excuse. We've got raffle tickets to win some great prizes which, I don't want
                    to give anything away, might include Red Sox tickets. We've got volleyball, music, a pool, a pinata,
                    and all your COPAH friends. There's probably some other shit I'm forgetting about. But if you're
                    already here you probably don't need convincing so I'll see you on Saturday.
                </td>
            </tr>
            <tr>
                <td><br><br></td>
            </tr>

        </table>
        </table>

        </body>
</html>
