<html>
<head>
    <title>C.O.P.A.H. Happenings</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>Happenings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td><a href="serpawedding.asp">Denio and Sandy's Wedding</a></td>
            </tr>
            <tr>
                <td><a href="luncheon1.asp">Luncheon 2000</a></td>
            </tr>
            <tr>
                <td><a href="newyear.asp">New Year's @ The COPAH Beach House</a></td>
            </tr>
            <tr>
                <td><a href="TNT.asp">Team in Training</a></td>
            </tr>
        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>
