{% extends 'base.html' %}

{% block title %}Welcome to C.O.P.A.H.{% endblock %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Welcome to C.O.P.A.H.</h3>
                    <p class="card-text">We are a group of friends who are current and
                        former "students" from UMASS-Dartmouth that have managed to stay in touch over the
                        years through the bonds of cards, parties, sports, and karaoke. This site is a guide
                        to all things C.O.P.A.H., so be sure to look around and check in often as we are
                        constantly expanding. </p>
                    <p class="card-text">Thanks for stopping by.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <img alt="{{ photo.Comment }}" class="card-img-top"
                         src="{{ url_for('static', filename=photo_filename) }}">

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl">
            <h2 class="boxhead">News</h2>

            {% for item in news %}
            <div class="card">
                <div class="bigtd"><b>{{ item.title }}</b></div>

                <div>{{ item.date[:8] }} ~ {{ item.alias }}</div>
                <div class="normtd">{{ item.news|safe }}</div>
            </div>
            {% endfor %}

            <div><a href="{{ url_for('archives') }}" target="_blank">Archives</a></div>

        </div>
    </div>
</div>

{% endblock %}