{% extends "base.html" %}

{% block title %}C.O.P.A.H. - Karaoke {% endblock %}


{% block content %}
<div class="container-fluid bgwhite">
    <div class="row">
        <div class="col-md">
            <h2 class="boxhead">Karaoke</h2>
            <p>A night at Karaoke typically includes many scorpion bowls, dancing, a lot of singing, Ric Flair,
                mullets-a-plenty, and some interesting drunk talk, so who knows what the next time will bring? Even if
                you don't sing, you'll still be able to drink and laugh at those of us who do show off our vocal skills
                (or lack there of). More details and pictures from past nights out can be found below. </p>
        </div>
    </div>
    {% for karaoke in karaokes %}
    <div class="row">
        <div class="col-md">

            <div class="card">
                <div class="card-body">
                    <div class="card-title boxhead">{{ karaoke.name }}</div>
                    {% if karaoke.picture_key: %}
                    <a class="btn btn-primary" href="{{ url_for('display', event=karaoke.picture_key, pic=1 )}}">Pictures</a>
                    {% endif %}
                    <div class="card-text">{{ karaoke.body | safe }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% include "footer.html" %}
{% endblock %}