<html>
<head>
    <title>C.O.P.A.H. Events\Karaoke</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>Events</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Karaoke</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A night at Karaoke typically includes
                    many scorpion bowls, lesbians (yeah I said lesbians),
                    dancing, a whole lot of singing, Ric Flair, mullets-a-plenty, and some interesting drunk talk, so
                    who
                    knows what the next time will bring? Even if you don't sing, you'll still
                    be able to drink and laugh at those of us who do show off our vocal skills
                    (or lack there of). More details and pictures from past nights out can be found below.
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td><b>DATE</b></td>
                <td>TBA</td>
            </tr>
            <tr>
                <td><b>FYI</b></td>
                <td>Cathay Pearl is a 21+ establishment, unless you're a fat boy.
            <tr>
                <td><b>COVER</b></td>
                <td>No Cover and drinks are $2-$3 for bottled beer and $4-$5 for very strong mixed drinks.</td>
            </tr>
            <tr>
                <td><b>LOCATION</b></td>
                <td>Cathay Pearl</td>
            </tr>
            <tr>
                <td><br></td>
                <td>2416 G.A.R. Highway</td>
            </tr>
            <tr>
                <td><br></td>
                <td>Swansea, MA 02777</td>
            </tr>

            <tr>
                <td><b>DIRECTIONS</b></td>
            <tr>
                <td><br></td>
                <td>24 South to the 195 split</td>
            </tr>
            <tr>
                <td><br></td>
                <td>Follow 195 towards Providence (West)</td>
            </tr>
            <tr>
                <td><br></td>
                <td>Follow that to Exit 2</td>
            </tr>
            <tr>
                <td><br></td>
                <td>Go left at the end of the exit</td>
            </tr>
            <tr>
                <td><br></td>
                <td>Go right at the first set of lights</td>
            </tr>
            <tr>
                <td><br></td>
                <td>It will be right in front of you.</td>
            </tr>
            <tr>
                <td><br></td>
            </tr>

            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <th class=boxhead colspan="2">Columbus Day Karaoke</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('display', event='Karaoke1', pic=1) }}">Pictures</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%"><b>"Singer"</b></td>
                            <td><b>Song - Artist</b></td>
                        </tr>
                        <tr>
                            <td>Phipps</td>
                            <td nowrap>"Mamma Said Knock You Out" - L.L. Cool J</td>
                        </tr>
                        <tr>
                            <td nowrap>Phipps and Keith</td>
                            <td nowrap>"Fight For Your Right " - Beastie Boys</td>
                        </tr>
                        <tr>
                            <td nowrap>Phipps and Ave</td>
                            <td nowrap>"Every Rose Has It's Thorn" - Poison</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>

            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <th class=boxhead colspan="2">Veterans Day Karaoke</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('display', event='Karaoke2', pic=1) }}">Pictures</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%"><b>"Singer"</b></td>
                            <td><b>Song - Artist</b></td>
                        </tr>
                        <tr>
                            <td>A.J.</td>
                            <td nowrap>"Only God Knows Why" - Kid Rock</td>
                        </tr>
                        <tr>
                            <td>Scrib</td>
                            <td nowrap>"Living On A Prayer" - Bon Jovi</td>
                        </tr>
                        <tr>
                            <td nowrap>Phipps</td>
                            <td nowrap>"Break Stuff" - Limp Bizkit</td>
                        </tr>
                        <tr>
                            <td nowrap>Tom</td>
                            <td nowrap>"The Piano Man" - Billy Joel</td>
                        </tr>
                        <tr>
                            <td nowrap>The COPAH Chorus</td>
                            <td>"Drift Away" - Doby Gray</td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <th class=boxhead colspan="2">Thanksgiving Karaoke</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('display', event='Karaoke3', pic=1) }}">Pictures</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%"><b>"Singer"</b></td>
                            <td><b>Song - Artist</b></td>
                        </tr>
                        <tr>
                            <td>Phipps</td>
                            <td nowrap>"Break Stuff" - Limp Bizkit</td>
                        </tr>
                        <tr>
                            <td>Phipps and Ave</td>
                            <td nowrap>Stand By Me" - Ben E. King
                            </td>
                        </tr>
                        <tr>
                            <td nowrap>Heather and Jaime with A.J.</td>
                            <td nowrap>"Like a Virgin" - Madonna</td>
                        </tr>
                        <tr>
                            <td nowrap>Tom</td>
                            <td nowrap>"Let's Get it On" - Marvin Gaye</td>
                        </tr>
                        <tr>
                            <td nowrap>A.J.</td>
                            <td>"Stupify" - Disturbed</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <th class=boxhead colspan="2">Christmas Karaoke</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('display', event='Karaoke4', pic=1) }}">Pictures</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%"><b>"Singer"</b></td>
                            <td><b>Song - Artist</b></td>
                        </tr>
                        <tr>
                            <td>Phipps and A.J.</td>
                            <td nowrap>"Break Stuff" - Limp Bizkit</td>
                        </tr>
                        <tr>
                            <td>A.J.</td>
                            <td nowrap>"Hero" - Enrique Iglesias</td>
                        </tr>
                        <tr>
                            <td nowrap>Denio</td>
                            <td nowrap>"Never There" - Cake</td>
                        </tr>
                        <tr>
                            <td nowrap>Tom</td>
                            <td nowrap>"Pride and Joy" - Stevie Ray Vaughn</td>
                        </tr>
                        <tr>
                            <td nowrap>COPAH Chorus</td>
                            <td>"That's What Friends Are For" - Stevie Wonder
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <th class=boxhead colspan="2">Presidents Day Karaoke</th>
                        </tr>
                        <tr>
                            <td>For the record there was a Presidents Day Karaoke, we didn't get there till late and it
                                was a very uneventful time. I think A.J. managed to get up and do a song but I don't
                                recall.
                            </td>
                        </tr>

                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <th class=boxhead colspan="2">Patriots Day Karaoke</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('display', event='Karaoke5', pic=1) }}">Pictures</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="35%"><b>"Singer"</b></td>
                                        <td><b>Song - Artist</b></td>
                                    </tr>
                                    <tr>
                                        <td>Phipps and Moosh</td>
                                        <td nowrap>"In The End" - Linkin Park</td>
                                    </tr>
                                    <tr>
                                        <td>Tom</td>
                                        <td nowrap>"You Don't Mess Around With Jim" - Jim Croce</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>Jay-Ave</td>
                                        <td nowrap>"Santeria" - Sublime</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>Becky</td>
                                        <td nowrap>"Jack and Diane" - John Cougar Mellencamp</td>
                                    </tr>
                                    <tr>
                                        <td>A.J.</td>
                                        <td>"Blurry" - Puddle of Mudd</td>
                                    </tr>
                                    <tr>
                                        <td>A.J.</td>
                                        <td>"If You Could Only See" - Tonic</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>COPAH Chorus</td>
                                        <td><"Drift Away" - Doby Gray</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <th class=boxhead colspan="2">Memorial Day Karaoke</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('display', event='Karaoke6', pic=1) }}">Pictures</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="35%"><b>"Singer"</b></td>
                                        <td><b>Song - Artist</b></td>
                                    </tr>
                                    <tr>
                                        <td>A.J.</td>
                                        <td>"You Give Love A Bad Name" - Bon Jovi</td>
                                    </tr>
                                    <tr>
                                        <td>Phipps and Tom</td>
                                        <td nowrap>"Fire, Water, Burn" - The Bloodhound Gang</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>Jay-Ave</td>
                                        <td nowrap>"Rapper's Delight" - Sugarhill Gang</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>Scrib</td>
                                        <td nowrap>"Looks That Kill" - Motley Crue</td>
                                    </tr>
                                    <tr>
                                        <td>A.J.</td>
                                        <td>"Break Stuff" - Limp Bizkit</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>COPAH Chorus</td>
                                        <td>No Chorus this time, Silver Fox too drunk.</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <th class=boxhead colspan="2">Independence Day Karaoke</th>
                                    </tr>
                                    <tr>
                                        <td>No Pictures</td>
                                    </tr>
                                    <tr>
                                        <td width="35%"><b>"Singer"</b></td>
                                        <td><b>Song - Artist</b></td>
                                    </tr>
                                    <tr>
                                        <td>A.J.</td>
                                        <td>"Deny" - Default</td>
                                    </tr>
                                    <tr>
                                        <td>Tom</td>
                                        <td nowrap>"Look At Little Sister" - Stevie Ray Vaughn</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>Jay-Ave</td>
                                        <td nowrap>"Smooth" - Santana feat. Rob Thomas</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>Phipps</td>
                                        <td nowrap>"Asshole" - Dennis Leary</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>A.J. & Rehoboth Joe</td>
                                        <td>"Bodies" - Drowning Pool</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>COPAH Chorus</td>
                                        <td>"Drift Away" - Doby Gray</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">If I'm missing anything or have any wrong Singer/Song combos let
                                            me know.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <th class=boxhead colspan="2">Labor Day Karaoke</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('display', event='Karaoke7', pic=1) }}">Pictures</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="35%"><b>"Singer"</b></td>
                                        <td><b>Song - Artist</b></td>
                                    </tr>
                                    <tr>
                                        <td>A.J.</td>
                                        <td>"If You Could Only See" - Tonic</td>
                                    </tr>
                                    <tr>
                                        <td>Phipps</td>
                                        <td nowrap>"Me So Horny" - 2 Live Crew</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>Becky</td>
                                        <td nowrap>"Brown Eyed Girl" - Van Morrison</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>Moles</td>
                                        <td nowrap>"Basketcase" - Green Day</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>A.J. & Fall River Eric</td>
                                        <td>"In The End" - Linkin Park</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>No COPAH Chorus</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">If I'm missing anything or have any wrong Singer/Song combos let
                                            me know.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>
