<html>
<head>
    <title>C.O.P.A.H. Links</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>Time Killers</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Links</td>
            </tr>
            <tr>
                <td valign="top" width="33%">
                    <table valign="top" width="100%">
                        <tr>
                            <th>Search Engines</th>
                        </tr>
                        <tr>
                            <td>
                                <li><a href="http://www.google.com">Google</a></li>
                                <li><a href="http://www.yahoo.com">Yahoo</a></li>
                                <li><a href="http://www.altavista.com">Alta Vista</a></li>
                                <li><a href="http://www.excite.com">Excite</a></li>
                                <li><a href="http://www.webcrawler.com">Web Crawler</a></li>
                                <li><a href="http://www.northernlight.com/">Northern Light</a></li>
                                <li><a href="http://hotbot.lycos.com/">HotBot</a></li>
                                <li><a href="http://www.ask.com">Ask Jeeves</a></li>
                            </td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <th>C.O.P.A.H. Related</th>
                        </tr>
                        <tr>
                            <td>
                                <li><a href="45.asp" target="_base">Rules of 45</a></li>
                                <li><a href="http://www.umassd.edu" target="_base">UMass Dartmouth</a></li>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="33%">
                    <table valign="top" width="100%">
                        <tr>
                            <th>News</th>
                        </tr>
                        <tr>
                            <td>
                                <li><a href="http://www.cnn.com" target="_base">CNN</a></li>
                                <li><a href="http://www.foxnews.com" target="_base">Fox News</a></li>
                                <li><a href="http://www.boston.com" target="_base">Boston.com</a></li>
                                <li><a href="http://www.thesmokinggun.com/" target="_base">The Smoking Gun</a></li>
                                <li><a href="http://news.bbc.co.uk/" target="_base">BBC World News</a></li>
                                <li><a href="http://newsbop.triqi.com/" target="_base">NewsBop.com</a></li>
                            </td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <th>Music</th>
                        </tr>
                        <tr>
                            <td>
                                <li><a href="http://www.ubl.com" target="_base">Ultimate Band List</a></li>
                                <li><a href="http://www.pollstar.com" target="_base">Pollstar</a></li>
                                <li><a href="http://www.kazaa.com/" target="_base">KaZaa</a></li>
                                <li><a href="http://www.mtv.com/" target="_base">MTV</a></li>
                                <li><a href="http://www.cdnow.com" target="_base">CDNow</a></li>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="33%">
                    <table valign="top" width="100%">
                        <tr>
                            <th>Sports</th>
                        </tr>
                        <tr>
                            <td>
                                <li><a href="http://www.espn.com" target="_base">ESPN</a></li>
                                <li><a href="http://www.nfl.com" target="_base">NFL.com</a></li>
                                <li><a href="http://www.nba.com" target="_base">NBA.com</a></li>
                                <li><a href="http://www.nhl.com" target="_base">NHL.com</a></li>
                                <li><a href="http://www.mlb.com" target="_base">MLB.com</a></li>
                                <li><a href="http://sports.espn.go.com/espn/archive?columnist=simmons_bill&root=page2"
                                       target="_base">Sportsguy Archive</a></li>
                                <li><a href="http://www.soccernet.com" target="_base">Soccernet</a></li>
                            </td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <th>Movies</th>
                        </tr>
                        <tr>
                            <td>
                                <li><a href="http://www.imdb.com" target="_base">Internet Movie Database (IMDB)</a></li>
                                <li><a href="http://members.aol.com/elasdray/index.html" target="_base">The Warriors</a>
                                </li>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


</html>

