<html>
<head>
    <title>C.O.P.A.H. Happenings\Luncheon 2000</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>Happenings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Luncheon 2000</td>
            </tr>
            <tr>
                <td width="100%">
                    <table align="center" width="90%">

                        <!-- Insert Text Here -->

                        <tr>
                            <td>Luncheon 2000 crowned two of COPAH's first and finest graduates, Denio and Ave, and cast
                                them to the harsh outside world in search of gainful employment. The first COPAH
                                luncheon was held at TK O'Malley's located on the New Bedford/Dartmouth line on ... I
                                can't remember the date, little help? The event included lunch for 12, enough beer for
                                24, cheesy decorations, and best of all free pool, or as you may prefer "the ingredients
                                for mayhem". Below we got some pictures of the day's events and a listing of who was
                                there.
                            </td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td colspan="2"><a
                                    href="{{ url_for('display', event='Luncheon', pic=1) }}">Luncheon
                                Pictures</a></td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                    </table>
                </td>
            </tr>
        </table>
        </form>
        </table></table>
        </table>

    </td>
    </tr>


    </body>
</html>
