<html>
<head>
    <title>C.O.P.A.H. Events\Mardi Gras</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>Events</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Mardi Gras</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right"><strong>Date:</strong></td>
                            <td>August 2nd, 2003</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Location:</strong></td>
                            <td>Same as last year.</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Time:</strong></td>
                            <td>2pm-Whenever</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Cover Charge:</strong></td>
                            <td>$10</td>
                        </tr>
                        <!--                        <tr>-->
                        <!--                            <td align="right"><strong>Official Invite:</strong></td>-->
                        <!--                            <td><a href="MGInvite1.doc">Click Here</a></td>-->
                        <!--                        </tr>-->
                        <tr>
                            <td align="right"><strong>Kegs:</strong></td>
                            <td>2</td>
                        </tr>
                        <!--<tr>
                         <td align="right"><strong>Supply List:</strong></td>
                         <td><a href="luaulist.asp">Click Here</a></td></tr>-->
                        <tr>
                            <td align="right"><strong>Pictures:</strong></td>
                            <td>
                                <a href="javascript:newWindow('display.asp?Pic=1&Event=MardiGras&Title=Mardi Gras 2003')">Click
                                    Here</a></td>
                        </tr>

                        <tr>
                            <td align="right"><strong>Music Playlist:</strong></td>
                            <td><a href="{{ url_for('mardigraslist') }}">Click Here</a></td>
                        </tr>

                    </table>
                </td>
                <td rowspan="3"><img src="{{ url_for('static', filename='graphics/saxmask.gif') }}"><br></td>
            </tr>

            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Planning is underway. Look for more info to come in the two weeks.
                </td>
            </tr>

        </table>
        </table>

        </body>
</html>
