{% extends "base.html" %}

{% block title %}C.O.P.A.H. - {{ member.alias }}{% endblock %}


{% block content %}
<div class="container bgwhite">
    <div class="card">
        <div class="card-header">
            <div class="card-title boxhead">{{ member.alias }}</div>
        </div>
        {% if member.picture: %}
        <img class="rounded mx-auto d-block" src="{{url_for('static', filename='graphics/' + member.picture)}}">
        {% endif %}
        <div class="card-body">
            <div class="boxhead">Vital Statistics</div>
            <div>Name: {{ member.first_name}}&nbsp;{{ member.last_name}}</div>
            {% if member.birthday: %}
            <div>Birthday: {{ member.birthday }}</div>
            {% endif %}

            {% if member.major: %}
            <div>Major: {{ member.major }}</div>
            {% endif %}

            {% if member %}
            {% if member.address or member.city or member.state or member.zip: %}
            <div>Address: {% if member.address: %}
                {{ member.address }}
                {% endif %}

                {% if member.address2: %}
                {{ member.address2 }}
                {% endif %}

                {% if member.city: %}
                {{ member.city }},
                {% endif %}

                {% if member.state: %}
                {{ member.state }}
                {% endif %}

                {% if member.zip: %}
                {{ member.zip }}
                {% endif %}
            </div>
            {% endif %}
            {% endif %}

            {% if member.homephone: %}
            <div>Home&nbsp;Phone: {{ member.home_phone }}</div>
            {% endif %}

            {% if member.cell_phone: %}
            <div>Cell&nbsp;Phone: {{ member.CellPhone }}</div>
            {% endif %}

            <div>E-Mail: {% if member.Email == "none": %}
                No Email Address
                {% else: %}
                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                {% endif %}
            </div>

            {% if member.work: %}
            <div>Work: {{ member.work }}</div>
            {% endif %}

            {% if member.WebSiteURL: %}
            <div>Web Site:
                <a href="{{ member.site_url }}" target="_blank">{{ member.site_name }}</a>
            </div>
            {% endif %}

            <!--                                    <% if myRS("football") or myRS("hockey") or myRS("baseball") or myRS("basketball") =-->
            <!--                                    True then %>-->
            <!--                                    <tr>-->
            <!--                                        <td colspan="4">-->
            <!--                                            <table width="100%">-->
            <!--                                                <tr>-->
            <!--                                                    <td class=boxhead colspan="4">Fantasy Sports</td>-->
            <!--                                                </tr>-->
            <!--                                                <% if myRS("football")= True then-->
            <!--                                                set footRS=server.createobject("ADODB.Recordset")-->
            <!--                                                footRS.Open "SELECT owner,teamname,rank FROM FootballRecord2001 WHERE-->
            <!--                                                Owner LIKE '" & myRS("owner") & "';", myConn-->
            <!--                                                if footRS.EOF then %>-->
            <!--                                                <% else %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="sports/eFootball.asp">Fantasy Football-->
            <!--                                                        2001</a>:-->
            <!--                                                    </td>-->
            <!--                                                    <td><a href="sports/footballteam.asp?AKA=<%=myRS(" owner")%>&Name=<%=footRS("teamname")%>"><%=footRS("teamname")%></a>-->
            <!--                                                    </td>-->
            <!--                                                    <td align="right">Finished:</td>-->
            <!--                                                    <td><%=footRS("rank")%></td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if-->
            <!--                                                set foot02RS=server.createobject("ADODB.Recordset")-->
            <!--                                                foot02RS.Open "SELECT owner,teamname,rank FROM FootballRecord2002 WHERE-->
            <!--                                                Owner LIKE '" & myRS("owner") & "';", myConn-->
            <!--                                                if foot02RS.eof then %>-->
            <!--                                                <% else %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="sports/eFootball.asp">Fantasy Football-->
            <!--                                                        2002</a>:-->
            <!--                                                    </td>-->
            <!--                                                    <td><a href="sports/footballteam.asp?AKA=<%=myRS(" owner")%>&Name=<%=foot02RS("teamname")%>"><%=foot02RS("teamname")%></a>-->
            <!--                                                    </td>-->
            <!--                                                    <td align="right">Finished:</td>-->
            <!--                                                    <td><%=foot02RS("rank")%></td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myrs("hockey")= True then-->
            <!--                                                set hockRS=server.createobject("ADODB.Recordset")-->
            <!--                                                hockRS.Open "SELECT owner,teamname,rank FROM HockeyRecord2001 WHERE-->
            <!--                                                Owner LIKE '" & myRS("owner") & "';", myConn%>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="sports/eHockey.asp">Fantasy Hockey</a>:-->
            <!--                                                    </td>-->
            <!--                                                    <td><a href="sports/hockeyteam.asp?AKA=<%=hockRS(" owner")%>&Name=<%=hockRS("teamname")%>"><%=hockRS("teamname")%></a>-->
            <!--                                                    </td>-->
            <!--                                                    <td align="right">Finished:</td>-->
            <!--                                                    <td> <%=hockRS("rank")%></td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myrs("basketball") = True then-->
            <!--                                                set NBARS=server.createobject("ADODB.Recordset")-->
            <!--                                                NBARS.Open "SELECT owner,teamname,rank FROM BasketballRecord2001 WHERE-->
            <!--                                                Owner LIKE '" & myRS("owner") & "';", myConn %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="sports/eBasketball.asp">Fantasy-->
            <!--                                                        Basketball</a>:-->
            <!--                                                    </td>-->
            <!--                                                    <td><a href="sports/NBAteam.asp?AKA=<%=NBARS(" owner")%>&Name=<%=NBARS("teamname")%>"><%=NBARS("teamname")%></a>-->
            <!--                                                    </td>-->
            <!--                                                    <td align="right">Finished:</td>-->
            <!--                                                    <td><%=NBARS("rank")%></td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myrs("baseball") = True then-->
            <!--                                                set baseRS=server.createobject("ADODB.Recordset")-->
            <!--                                                baseRS.Open "SELECT owner,teamname,rank FROM BaseballRecord2002 WHERE-->
            <!--                                                Owner LIKE '" & myRS("owner") & "';", myConn%>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="sports/eBaseball.asp?O=PER">Fantasy-->
            <!--                                                        Baseball</a>:-->
            <!--                                                    </td>-->
            <!--                                                    <td><a href="sports/MLBteam.asp?AKA=<%=baseRS(" owner")%>&Name=<%=baseRS("teamname")%>"><%=baseRS("teamname")%></a>-->
            <!--                                                    </td>-->
            <!--                                                    <td align="right">Ranked:</td>-->
            <!--                                                    <td><%=baseRS("rank")%></td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                            </table>-->
            <!--                                        </td>-->
            <!--                                    </tr>-->
            <!--                                    <tr>-->
            <!--                                        <td><br></td>-->
            <!--                                    </tr>-->
            <!--                                    <% end if%>-->
            <!--                                    <% set tRS=server.createobject("ADODB.Recordset")-->
            <!--                                    tRS.Open "SELECT * FROM Rank WHERE AKA = '" & myRS("AKA") & "';", myConn-->
            <!--                                    if tRS("Active")=True then%>-->

            <!--                                    <tr>-->
            <!--                                        <td colspan=4>-->
            <!--                                            <table width="100%">-->
            <!--                                                <tr>-->
            <!--                                                    <td class=boxhead colspan=2>45 Stats</td>-->
            <!--                                                </tr>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="center" colspan=2>Currently ranked #<%= tRS("current")%>-->
            <!--                                                        out of 32 in <a href="rankings.asp">45 Tournaments</a></td>-->
            <!--                                                </tr>-->
            <!--                                                <% if myRS("aka") = "Phipps" or myRS("aka") = "Keith" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney2.asp">Tourney II</a>:</td>-->
            <!--                                                    <td>Champion</td>-->
            <!--                                                </tr>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney3.asp">Tourney III</a>:</td>-->
            <!--                                                    <td>Champion</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myRS("aka") = "Scrib" or myRS("aka") = "Tim" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney1.asp">Tourney I</a>:</td>-->
            <!--                                                    <td>Champion</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myRS("aka") = "Joe" or myRS("aka") = "Oakley" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney4.asp">Tourney IV</a>:</td>-->
            <!--                                                    <td>Champion</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myRS("aka") = "Tom" or myRS("aka") = "Mikey" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney5.asp">Tourney V</a>:</td>-->
            <!--                                                    <td>Champion</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myRS("aka") = "Dave" or myRS("aka") = "Moles" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney1.asp">Tourney I</a>:</td>-->
            <!--                                                    <td>Runner-Up</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myRS("aka") = "Jay-Ave" or myRS("aka") = "Tom" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney2.asp">Tourney II</a>:</td>-->
            <!--                                                    <td>Runner-Up</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myRS("aka") = "Seth" or myRS("aka") = "Billy" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney3.asp">Tourney III</a>:</td>-->
            <!--                                                    <td>Runner-Up</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myRS("aka") = "Becky" or myRS("aka") = "Sandy" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney4.asp">Tourney IV</a>:</td>-->
            <!--                                                    <td>Runner-Up</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->
            <!--                                                <% if myRS("aka") = "Billy" or myRS("aka") = "Nick" then %>-->
            <!--                                                <tr>-->
            <!--                                                    <td align="right"><a href="tourney5.asp">Tourney V</a>:</td>-->
            <!--                                                    <td>Runner-Up</td>-->
            <!--                                                </tr>-->
            <!--                                                <% end if %>-->

            <!--                                            </table>-->
            <!--                                        </td>-->
            <!--                                    </tr>-->
            <!--                                    <% end if %>-->

        </div>
        <div class="text-center">
            <a class="btn btn-link" href="{{ url_for('members') }}">Return to People</a>
        </div>


    </div>
</div>
{% endblock %}