<html>
<head>
    <title>C.O.P.A.H. Happenings\New Year's @ The COPAH Beach House</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>Happenings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>New Year's @ The COPAH Beach House</td>
            </tr>

            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Screw Boston, Providence, and New York. The real happening
                    First Night celebration was at the COPAH Beach House (Tom's Aunt's beach house - much easier to just
                    refer to it as
                    the COPAH Beach House). Let's take a second to run down the menu; 14 pound fried turkey, 10 pounds
                    of homemade french fries, popcorn chicken, shrimp cocktail, the world's biggest salad, apple cake
                    with ice cream, and Jaime's "Chocolate Balls". We had no CD player which kind of sucked it did
                    however enable us to hear Sum 41 cover Nickelback's "How You Remind Me". Not that that has any
                    significance, I thought it was really odd to hear a band cover a song that right now is the only
                    single being played more than their own. It's like if Motley Crue covered "Every Rose has it Thorn"
                    in 1988. I'll have some pictures up later in the week.
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('display', event='NYE2001', pic=1) }}">Pictures</a>
                </td>
            </tr>
        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>
