{% extends "base.html" %}

{% block title %}C.O.P.A.H. | People {% endblock %}


{% block content %}
<div class="container-fluid bgwhite">
    <h1>People</h1>

    <h3 class="boxhead">Members</h3>
    <p class="lead">The original members, the late comers to UMass Dartmouth, and the good friends who
        earned it. These are the illustrious members of C.O.P.A.H. who like it or not will forever be
        associated with the rest of us.</p>

    <div class="row">
        {% for member in members %}
        <div class="col-sm-2 text-center">
            <div class="card py-4 m-3"><a href="{{url_for('show_member', AKA=member.alias) }}">{{ member.alias }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}