{% extends "base.html" %}

{% block title %}C.O.P.A.H. | People {% endblock %}


{% block content %}
<div class="container bgwhite">
    <div>People</div>

    <div class="card">
        <div class="boxhead card-title" colspan="4">Members</div>
        <p class="card-text">The original members, the late comers to UMass Dartmouth, and the good friends who
            earned it. These are the illustrious members of C.O.P.A.H. who like it or not will forever be
            associated with the rest of us.</p>
        <ul>
            {% for member in members %}
            <li><a href="{{url_for('show_member', AKA=member.alias) }}">{{ member.alias }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}