<html>
<head>
    <title>C.O.P.A.H. 45 Dealings\Power Rankings</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>45 Dealings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead>Power Rankings</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In an effort to keep things fresh around here we have created the 45
                    Power Rankings. Now this is not a straight forward point system where you get a point for a win and
                    lose points for a loss there is also a degree of difficulty involved. At the start of every
                    tournament the partners have their current ranking averaged together, in the event that somebody
                    does not yet have a ranking due to never playing before they are started at 1600. To then determine
                    who the favorite is in a particular match up or, the rank factor, the difference between the two
                    averages is divided by 400. In the event of win 1 is added that factor and multiplied by 16 this
                    gives the total number of points gained by a team for a certain game. In the event of a loss the
                    same thing is done only one is subtracted from the factor not added. Thoroughly confused? Anyway
                    here are the rankings, the rank that comes up is the rank after that tournament, so the last would
                    be your current rank.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td><a href="rank1.asp">Tourney I</a></td>
            </tr>
            <tr>
                <td><a href="rank2.asp">Tourney II</a></td>
            </tr>
            <tr>
                <td><a href="rank3.asp">Tourney III</a></td>
            </tr>
            <tr>
                <td><a href="rank4.asp">Tourney IV</a></td>
            </tr>
            <tr>
                <td><a href="rank5.asp">Tourney V</a></td>
            </tr>
            <tr>
                <td><a href="rank6.asp">Tourney VI</a></td>
            </tr>
            <tr>
                <td><a href="rank7.asp">Tourney VII</a></td>
            </tr>
            <tr>
                <td><a href="rank8.asp">Tourney VIII</a></td>
            </tr>
            <tr>
                <td><a href="rank9.asp">Tourney IX</a></td>
            </tr>
        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>