<html>
<head>
    <title>C.O.P.A.H. 45 Dealings\Rules of 45</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>45 Dealings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>The Rules of 45</td>
            </tr>
            <tr>
                <td><P><B>Objective:</B> Partnerships try to win books and prevent their opponents
                    from doing so.
                    <P><B>Players:</B> Four or six, in teams of two with partners in alternating
                        seats.
                    <P><B>Cards:</B> A regular deck of 52. The highest trump is the five; second
                        is the jack, third is the A<IMG ALT="Hearts" HEIGHT=12 SRC="graphics/h.gif" WIDTH=14>,
                        no matter what suit is trump. For black suits, the cards from 2 to 10 rank
                        in reverse of normal order, leading to the saying "highest in red; lowest
                        in black." And for no reasoning what-so-ever the J<img alt="D" height=12 src="graphics/d.gif"
                                                                               width=14> is the "Norton" card.
                    <P>The full rank in the trump suit is:
                    <UL>
                        <LI><I>Hearts:</I> 5 (high),J, A, K, Q, 10, 9,. 8, 7, 6, 5, 4, 3, 2.
                        <LI><I>Diamonds:</I> 5 (high), J,
                            A<IMG ALT="H" HEIGHT=12 SRC="graphics/h.gif" WIDTH=14>,
                            A<IMG ALT="D" HEIGHT=12 SRC="graphics/d.gif" WIDTH=14>,
                            K, Q, 10, 9, 8, 7, 6, 5, 4, 3, 2.
                        <LI><I>Clubs:</I> 5 (high), J,
                            A<IMG ALT="H" HEIGHT=12 SRC="graphics/h.gif" WIDTH=14>,
                            A<IMG ALT="C" HEIGHT=12 SRC="graphics/c.gif" WIDTH=14>,
                            K, Q, 2, 3, 4, 5, 6, 7, 8, 9, 10.
                        <LI><I>Spades:</I> 5 (high), J,
                            A<IMG ALT="H" HEIGHT=12 SRC="graphics/h.gif" WIDTH=14>,
                            A<IMG ALT="S" HEIGHT=12 SRC="graphics/s.gif" WIDTH=14>,
                            K, Q, 2, 3, 4, 5, 6, 7, 8, 9, 10.
                    </UL>
                    In nontrump suits the rank is:
                    <UL>
                        <LI><I>Hearts or Diamonds:</I> K (high), Q, J, 10, 9, 8, 7, 6, 5, 4, 3, 2,
                            (A<IMG ALT="D" HEIGHT=12 SRC="graphics/d.gif" WIDTH=14>).
                        <LI><I>Clubs or Spades:</I> K (high), Q, J, A, 2, 3, 4, 5, 6, 7, 8, 9, 10.
                    </UL>
                    <P><B>Deal:</B> Each player is dealt five cards in batches of 3-2 or 2-3.
                    <P><B>Bidding:</B> The bidding starts with the player to the dealer's left
                        and continues clockwise. Each player in turn may either bid or pass. Bids
                        are made in multiples of 5, up to 30, with no suit being mentioned starting with 15. In addition
                        there is also the dreaded 30 No Draw, which means the bidder's team will make all the books
                        without allowing anyone to draw additional cards from the deck. Each bid
                        must be higher than the preceding bid, except that the dealer in his turn can
                        take the bid as his bid. This means that he bids the same as the last bid;
                        he has the right to name the trump if no one bids <I>higher</I> than he.
                        After the dealer takes the bid. The winning bidder names the trump suit.
                    <P><B>Drawing:</B> Each player discards face down as many cards as he wishes
                        from his hand. The dealer then restores the player's hands to five cards,
                        starting with the player to his left. (<I>Variant:</I> permit the dealer
                        to "rob the pack" to replace his discards. This means he looks through the
                        remainder and picks out whichever cards he wants in his hand. This is only done in 6 man when
                        the cards run out.)
                    <P><B>Play:</B> The player to the left of the dealer makes the opening lead. The hand is played out
                        in books. If unable to follow the suit led, any card may be played. A book is won by the highest
                        trump played on it, or the highest card of the suit led if no trump are present.
                    <P>A hand must follow suit to a lead, if able, with the following exceptions:
                    <P>(a) Even though able to follow to a nontrump lead, a player may trump if he pleases.
                    <P>(b) The three highest trumps (5, J, A<IMG ALT="H" HEIGHT=12 SRC="graphics/h.gif" WIDTH=14>) have
                        the priveledge or <I>reneging</I> when a lower trump is led. For example, if the trump six is
                        led, a player holding any of these three top trumps without lower trumps may discard instead of
                        following suit (if he has lower trump also, he must play a trump). But there is no reneging
                        against a higher trump. For example, if the trump jack is played, the holder of the five may
                        renege but not the holder of the A<IMG ALT="H" HEIGHT=12 SRC="graphics/h.gif" WIDTH=14>.
                    <P><B>Scoring:</B> Each book counts 1, and the highest trump in play counts as 1 book. After the
                        hand, each side counts what they have taken. If the bidder's side has taken at least the amount
                        of the bid, they score all they have won. If this side fails, the amount of the bid is deducted
                        from its score. The other side in either case always scores what it has won in books. If a side
                        bids and makes 6 (all the books), they score 9, as in 9 hole. This may sound a little funny and
                        it is. This is the COPAH Edition of 45. Don't ask me why but it's like this. A bid of 15 means 3
                        books. 20 bid means 4 books, 25 bid means 5 books, and a 30 bid all 6 books. A 30 No Draw wins
                        if completed gets 12 points. If they get set on a 30 No Draw they go back 9.
                    <P><B>Game:</B> The team to first reach a total of 31 points and be ahead by two or more points wins
                        the game. If a team gets -31 they have fallen out the back door and consequently have lost.
                    <P><B>Misdeal:</B> There must be a new deal by the same dealer: (a)if he deals any hand a wrong
                        number of cards and it is caught before there has been a bid; (b) if he fails to adhere to his
                        chosen dealing plan; or (c) if a card is exposed during the deal.</td>
            </tr>
        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>
