<tr>
    <td width="180px" valign="top">
        <table width="178px" cellspacing="0" cellpadding="0" border="0">
            <!--            <tr>-->
            <!--                <td class=boxhead>Members</td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td class=Side>&lt;!&ndash; #INCLUDE file="signin.asp"&ndash;&gt;</td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td><br></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td class="boxhead">Calendar</td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td class="Side">&lt;!&ndash; #INCLUDE file="calendar_v1.asp" &ndash;&gt;-->
            <!--                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>&nbsp;-->
            <!--                </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td><br></td>-->
            <!--            </tr>-->
            <tr>
                <td class="boxhead">'45' Dealings</td>
            </tr>
            <tr>
                <td class="Side"><a href="{{ url_for('tournaments') }}">Tournament Recaps</a><br>
                    <a href="{{ url_for('rankings') }}">Rankings</a><br>
                    <a href="{{ url_for('rules_of_45') }}">Rules</a><br>&nbsp;
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td class=boxhead>Events</td>
            </tr>
            <tr>
                <td class=Side><a href="happening.asp">Happenings</a><br>
                    <a href="karaoke.asp">Karaoke</a><br>
                    <a href="luau.asp">Luau</a><br>
                    <a href="mardigras.asp">Mardi Gras</a><br>
                    <a href="fiesta.asp"><b>Fiesta</b></a><br>&nbsp;
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td class=boxhead>Sports</td>
            </tr>
            <tr>
                <td class=Side><a href="softball.asp">Softball</a><br>
                    <a href="baseball.asp?O=Per Desc">Baseball</a><br>
                    <a href="football.asp">Football</a><br>
                    <a href="basketball.asp">Basketball</a><br>
                    <a href="hockey.asp">Hockey</a><br>&nbsp;
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td class=boxhead>Time Killers</td>
            </tr>
            <tr>
                <td class=Side>
                    <!--                    <a href="listlist.asp">Top 10 Lists</a><br>-->
                    <a href="{{ url_for('links') }}">Links</a><br>&nbsp;
                </td>
            </tr>

        </table>
    </td>
    <td width="10px"><br></td>