<html>
<head>
    <title>C.O.P.A.H. Happenings\Team in Training</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>Happenings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Team in Training</td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>This group email was received by Bobby Guay on January 31st:</b>
                    <p>
                        Hey everyone,
                    <p>
                        For the most of you who do not know, over this past Christmas my girlfriend's, Kelly, mother
                        passed away after a three month battle with leukemia. For those of you who can relate to losing
                        a parent you understand what she is going through. As hard as it is losing one family member in
                        a short time frame it has recently been discovered that her older brother, Mike, has recently
                        been diagnosed with a pre-leukemia condition and will undergo a very dangerous bone marrow
                        transplant within the next several weeks. As most of you can imagine this type of news causes
                        immediate stress to one's life and leaves a helpless feeling that is hard to overcome.
                    <p>
                        To overcome this feeling Kelly and I have signed up with the leukemia and lymphoma society and
                        are participating in <a href="http://www.teamintraining.org">Team in Training (TNT)</a>. TNT is
                        basically like a walk for hunger where as we find sponsors and carryout whatever event the
                        society calls for. However, the events for TNT are highly athletic events such as triathlons and
                        marathons. TNT donates over 75% of money raised to research with the remainder of the money
                        going towards families affected by leukemia (such as if a person needs to go to a different area
                        to undergo treatment then TNT will pay for the plane/bus trip as well as all accommodations). I
                        encourage you to search the web and look up more information if interested.
                    <p> We are signed up to participate in the <a
                            href="http://www.teamintraining.org/all_cal_detail.adp?item_id=55021">Vermont City
                        Marathon</a> in Burlington, VT on May 26 of this year. We have been training for several months
                        and have been assigned a professional coach to train us to finish the marathon (26.2 miles). We
                        must raise $2,050.00 apiece to participate in the event. When signing up for TNT you must make
                        an initial donation of $50 dollars per person to participate. I have already sponsored myself
                        $100 and would appreciate if you would be able to spare anything to help this cause.
                    <p>
                        We are also in the process of planning a fundraiser in Taunton either at the VFW or the PACC. At
                        this fundraiser we will be serving a sit down dinner (with Bar!), one or two live bands (Brick
                        Park or Freezepop both have offered to play for free) as well as having several raffles
                        throughout the evening. Exact date and time will be given in a later e-mail.
                    <p>
                        We would appreciate anything you could do to help us such as donate your time, donated items to
                        be raffled (tickets, pictures, etc.), or a monetary value. If you are unable to donate any of
                        the previous items we would really appreciate feedback such as ideas on fundraising or getting
                        things donated. Any thing you give will be more than enough and will greatly be appreciated. If
                        you are interested please get back to me as soon as you can and I will be able to give you the
                        necessary information.
                    <p>
                        Thank You Very Much. <br>Bobby
                    <p>P.S. For those of you who may be interested in running with us feel free to contact me or my
                        girlfriend and we will be able to direct you to the necessary steps.
                    <p>
                        Thanks again.
                </td>
            </tr>
            <tr>
                <th colspan="2">Events</th>
            </tr>
            <tr>
                <td colspan="2"><a name="Benefit"><b>Benefit Fundraiser</b><br></a>
                    Date: Friday March 1st<br>
                    Time: 7pm- Midnight<br>
                    Location: Portuguese American Civic Club<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;School
                    Street<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Taunton,
                    MA<br>
                    Ticket Info: Tickets will be sold in advance at $10 each and can be bought by calling Kelly at
                    (508)822-1840.<br>
                    A great live band will be playing and a whole bunch of cool stuff businesses have donated to raffle
                    off.
                    It's 21+ too cause they have a bar at the hall. Of course, if you aren't able to make it and would
                    still
                    like to give a tax-deductible donation, please make checks payable to The Leukemia and Lymphoma
                    Society and send them to Kelly's address posted below.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2"><a name="Donor"><b>Stem Cell Donor Search</b><br></a>
                    Date: Wednesday March 6th<br>
                    Time: 2:30pm-7:30pm<br>
                    Location: Taunton High School<br>
                    The cost is $21 per person to be tested and Kelly's family is willing to pay for anyone who would
                    like to help out
                    and get tested, but may not be able to afford it.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2"><b>C.O.P.A.H. 45 Tournament</b><br>
                    Date: Saturday March 16th<br>
                    Time: 7/8-Whenever<br>
                    Location: Becky and Moles' House
                    All the info on the tournament and how it relates to fundraising efforts can be found by clicking
                    <a href="e31602.asp">here</a>.
                </td>
            </tr>
            <tr>
                <th colspan="2">Points of Contact</th>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td>
                    <b>Kelly Fernandes</b><br>
                    6 West Summer St.<br>
                    Taunton, MA 02780<br>
                    e-mail: SandNStars@aol.com
                </td>
                <td>
                    <b>Robert Guay</b><br>
                    160 Paul Revere Terrace<br>
                    Taunton, MA 02780<br>
                    e-mail: Bguay22@hotmail.com or RPG@gainc.com
                </td>
            </tr>
            <tr>
                <td><br>To make a donation please make the check payable to <b>Leukemia and Lymphoma Society</b>. Since
                    these donations are going to sponsors Bobby and Kelly they need to be sent to them at the above
                    addresses.
                </td>
            </tr>

            <tr>
                <th colspan="2">For More Info</th>
            </tr>
            <tr>
                <td colspan="2"><br><a href="http://www.teamintraining.org/" target="_blank">http://www.TeamInTraining.org/</a>
                </td>
            </tr>
        </table>
    </td>
    </tr>
    </table></table>
    </table>

    </td>
    </tr>


    </body>
</html>
