{% extends "base.html" %}

{% block content %}
<div class="container-fluid bgwhite">
    <h2 class="boxhead">45 Tournament Recaps</h2>

    <p class="lead bgwhite">The cornerstone of the COPAH foundation, 45. The tournaments
        have turned from a pen and pad idea in 1998 to full blown events these days. By clicking on a title
        you'll be able to get the full recap and pictures, if any.</p>

    <div class="list-group">
        {% for tourney in tournaments: %}

        <a class="list-group-item list-group-item-action" href="{{ url_for('view_event', event_id=tourney.id) }}">
            {{tourney.name}} - <span class="text-right">{{tourney.date}}</span>
        </a>
        {% endfor %}
    </div>

</div>
{% include "footer.html" %}
{% endblock %}
