<html>
<head>
    <title>C.O.P.A.H. 45 Dealings\Tournament X</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>45 Dealings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Tournament X Info</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right"><strong>Date:</strong></td>
                            <td>March 27th, 2004</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Location:</strong></td>
                            <td>The Mole Hole</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Time of Tournament:</strong></td>
                            <td>7-8 pm (You know how it is)</td>
                        </tr>
                        <!--<tr>
                            <td align="right"><strong>Number of Players:</strong></td>
                            <td>22</td></tr>
                        <tr>
                            <td align="right"><strong>Tables Used:</strong></td>
                            <td>5</td></tr>
                        <tr>-->
                        <td align="right"><strong>Entry Fee:</strong></td>
                        <td>$30</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Pre-determined teams:</strong></td>
                            <td>Nick and Delosier</td>
                        </tr>
                        <!--<tr>
                         <td align="right"><strong>Pictures:</strong></td>
                         <td><a href="javascript:newWindow('display.asp?Pic=1&Event=Tourney8&Title=COPAH 45 Tournament VIII')">45 Tourney VIII</a></td></tr>
                        -->
                        <tr>
                            <td align="right"><strong>Player Rankings:</strong></td>
                            <td><a href="rank9.asp">Post Tournament IX</a></td>
                        </tr>
                    </table>
                <td align="center" width="25%"><img src="graphics/tourney8/32.jpg" width="70%"><br>Rob and Tom</td>
            </tr>
            <!--<tr><td>About a week in advance we learned the defending champs, Joe and Oakley, would be out for this tournament.  Which means everybody goes back into the hat and with only one new comer this time the odds seemed good for all.  However we were all shamed once again by a new comer and an outsider.  All respect is due though, nice job Mikey and Jeff.  I don't think any of us even know Jeff's last name and he won, very sad.</td></tr>-->
            <tr>
                <td><br></td>
            </tr>

            <%
            dim myrs, count
            set myrs=server.createobject("adodb.recordset")
            myRS.Open "Select aka From members where CN = 'Y';", myConn
            While not myrs.eof
            count=count+1
            %>
            <tr>
                <td><%= count %></td>
                <td><%= myRS("AKA")%></td>
            </tr>
            <% myrs.movenext
            wend %>


        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>
