<html>
<head>
    <title>C.O.P.A.H. 45 Dealings\Tournament VII</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>45 Dealings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Tournament VII Recap</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right"><strong>Date:</strong></td>
                            <td>February 22nd, 2003</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Location:</strong></td>
                            <td>The Mole Hole</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Time of Tournament:</strong></td>
                            <td>Aprox. 5 1/2 hours</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Number of Players:</strong></td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Tables Used:</strong></td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Purse:</strong></td>
                            <td>$600</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Winners:</strong></td>
                            <td>Mikey and Jeff</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Runners Up:</strong></td>
                            <td>Becky and Kendra</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Pictures:</strong></td>
                            <td>
                                <a href="javascript:newWindow('display.asp?Pic=1&Event=Tourney7&Title=COPAH 45 Tournament VII')">45
                                    Tourney VII</a></td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Player Rankings:</strong></td>
                            <td><a href="rank7.asp">Post Tournament VII</a></td>
                        </tr>
                    </table>
                <td align="center" width="25%"><img src="graphics/tourney7/tourney7 030.jpg" width="70%"><br>Jeff and
                    Mikey
                </td>
            </tr>
            <tr>
                <td>About a week in advance we learned the defending champs, Joe and Oakley, would be out for this
                    tournament. Which means everybody goes back into the hat and with only one new comer this time the
                    odds seemed good for all. However we were all shamed once again by a new comer and an outsider. All
                    respect is due though, nice job Mikey and Jeff. I don't think any of us even know Jeff's last name
                    and he won, very sad.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table align="center" border=0 width="90%">
                        <tr>
                            <td class=xl24 height=71 style='height:23.25pt;width:48pt' width=64>Group&nbsp;A</td>
                            <td class=xl25>Jason and Sean</td>
                            <td class=xl25>Kendra and Becky</td>
                            <td class=xl25>Moosh and Kim</td>
                            <td class=xl25>Morgan and Moles</td>
                            <td class=xl25>Keith and Jamie</td>
                            <td class=xl25>Adam and Jay-Ave</td>
                            <td class=xl25 nowrap>W-L</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Jason and Sean</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl31>3-2</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Kendra and Becky</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>4-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Moosh and Kim</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl31>2-3</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Morgan and Moles</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl31>2-3</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Keith and Jamie</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl31>1-4</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Adam and Jay-Ave</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl31>3-2</td>
                        </tr>

                        <tr height=17 style='height:12.75pt'>
                            <td colspan=8 height=17 style='height:12.75pt;mso-ignore:colspan'></td>
                        </tr>

                        <tr>
                            <td class=xl24 height=68 style='height:23.25pt'>Group&nbsp;B</td>
                            <td class=xl25>Jeff and Mikey</td>
                            <td class=xl25>Tom and Sandy</td>
                            <td class=xl25>Chief and Shaw</td>
                            <td class=xl25>Denio and Dave</td>
                            <td class=xl25>Phipps and Guay</td>
                            <td class=xl25>Billy and AJ</td>
                            <td class=xl25 nowrap>W-L</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Jeff and Mikey</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl31>4-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Tom and Sandy</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>3-2</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Chief and Shaw</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>2-3</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Denio and Dave</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>4-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Phipps and Guay</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl31>1-4</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Billy and AJ</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl31>1-4</td>
                        </tr>

                        <tr height=0 style='display:none'>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                        </tr>
                        <tr>
                            <td colspan="8">* denotes teams that made the play-offs.</td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">Pool play went quick after Denio and Sandy showed. Six tables were in use pretty much at
                    all times. High drama game after the Tyson sham, I mean fight. Moosh and Kim were playing Moles and
                    Jesse in the living room when the fight came on. They suspended play during the fight and when the
                    fight was over all eyes were on them as they would decide whether or not a 6 man game would be
                    needed in Group B. It was something like 28/27 with Moosh and Kim needing to make a 20 to win on
                    Moosh's deal. Jesse bids 15 and Kim passed which caused all behind her to gasp as they could all see
                    she had a 5 and King, a solid 20 given the situtation. Moosh took the bid and managed to make the 20
                    for the win and Kim's 20 wouldn't have made it so we all looked dumb. This was easily the most
                    watched game in tournament history with all teams standing around.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table align="center" border=1 width="80%">
                        <tr>
                            <td class=xl25>Jeff and Mikey</td>
                            <td class=x124>0</td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td class=xl25>Becky and Kendra</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class=xl25>Jeff and Mikey</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td align="center">vs</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td align="center">vs</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class=xl25>Becky and Kendra</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td class=xl25>Adam and Jay-Ave</td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td class=xl27>Denio and Dave</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">Jeff and Mikey swept and word was starting to spread that they were unbeatable. Becky
                    and Kendra outlasted Denio and Dave. After dropping the first Denio and Dave made an amazing come
                    back in the second. Kendra took a 20 to win which Denio let in but they were able to set them to
                    take control and win game 2. Game 3 went 3-3,4-2,2-4,3-3,9-0,0-9 (you get the idea) no team ever had
                    control in this one and Becky and Kendra were able to outlast. From what I was told the championship
                    game went pretty much the same way with Jeff and Mikey having the upper hand.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">The attention then shifted upstairs where oddly enough politics was the topic of choice.
                    A far cry from the flower eating and porno days of the past. Here's what we learned (if anything):
                    <br>
                    <li type="circle">Phipps is a Constutionalist
                    <li type="circle">Iraq produces 3% of OPEC's oil
                    <li type="circle">Tom gets crazy when he discusses politics
                    <li type="circle">Phipps wants to blow everything up
                    <li type="circle">Bobby is French
                    <li type="circle">Phipps and Dave will go to Iraq on the front line and Dave's driving
                    <li type="circle">Tom and Dave are somehow friends despite no being able to agree on anyting
                    <li type="circle">Bush wants oil for Enron because his dad couldn't kill Saddam


                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul><strong>Some Facts</strong>
                        <li type="circle">Highest Ranked Team: Tom and Sandy (1744)
                        <li type="circle">Lowest Ranked Team: Moosh and Kim (1511)
                        <li type="circle">Most Points Gained (First Round): Denio and Dave (57)
                        <li type="circle">Most Points Lost (First Round): Keith and Jamie (-54)
                        <li type="circle">Most Points Gained (Total): Jeff and Mikey (128)
                        <li type="circle">Biggest Jump Up in Rankings: Kendra (8 spots)
                        <li type="circle">Biggest Drop Down in Rankings: Billy (7 spots)
                        <li type="circle">Adam and Ave lost points despite making the play offs
                        <li type="circle">Denio and Dave's win over Tom and Sandy was worth 22 points
                        <li type="circle">Tom and Sandy's win over Shaw and Chief was worth only 8 points
                    </ul>
                </td>
            </tr>


        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>
