<html>
<head>
    <title>C.O.P.A.H. 45 Dealings\Tournament III</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>45 Dealings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Tournament III Recap</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right"><strong>Date:</strong></td>
                            <td>October 27th, 2001</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Location:</strong></td>
                            <td>The C.O.P.A.H. Beach House</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Time of Tournament:</strong></td>
                            <td>Aprox. 6.5 hours</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Number of Players:</strong></td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Tables Used:</strong></td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Purse:</strong></td>
                            <td>$400</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Winners:</strong></td>
                            <td>Phipps and Keith</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Runners Up:</strong></td>
                            <td>Seth and Billy</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Pictures:</strong></td>
                            <td>
                                <a href="javascript:newWindow('display.asp?Pic=1&Event=FallTourney2001&Title=COPAH 45 Tournament III')">45
                                    Tourney III</a></td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Player Rankings:</strong></td>
                            <td><a href="rank3.asp">Post Tournament III</a></td>
                        </tr>
                    </table>
                <td align="center" width="25%"><img src="graphics/FallTourney2001/P1010040.jpg" width="70%"><br>The
                    Winners: Phipps and Keith
                </td>
            </tr>


            <tr>
                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Well it's over and the worse possible scenario came true
                    Phipps and Keith won...again. With 9 teams gunning for them and them only they managed to pull it
                    out, congratulations. The game managed to take a staggering 6 hours; due in part to a 6 man game
                    being needed to decide a log jam a top the Division A bracket. Major changes will be needed for the
                    next tournament to keep the overall length of time reasonable. Below you'll find a break down of the
                    match-ups as well as all the pictures from the evening. Enjoy.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table align="center" border=0 width="90%">
                        <tr>
                            <td class=xl24 height=71 style='height:23.25pt;width:48pt' width=64>Group&nbsp;A</td>
                            <td class=xl25>Phipps and Keith</td>
                            <td class=xl25>Adam and Moles</td>
                            <td class=xl25>Chief and Dave</td>
                            <td class=xl25>Jesse and Joe</td>
                            <td class=xl25>Sandy and Jason</td>
                            <td class=xl25>W-L</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Phipps and Keith</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>3-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Adam and Moles</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>3-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Chief and Dave</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>3-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Jesse and Joe</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl31>1-3</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Sandy and Jason</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl31>0-4</td>
                        </tr>

                        <tr height=17 style='height:12.75pt'>
                            <td colspan=8 height=17 style='height:12.75pt;mso-ignore:colspan'></td>
                        </tr>

                        <tr>
                            <td class=xl24 height=68 style='height:23.25pt'>Group&nbsp;B</td>
                            <td class=xl25>Seth and Billy</td>
                            <td class=xl25>Tom and Denio</td>
                            <td class=xl25>Tim and Scrib</td>
                            <td class=xl25>Jamie and Kim</td>
                            <td class=xl25>Jay-Ave and Shaw</td>
                            <td class=xl25>W-L</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Seth and Billy</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>4-0</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Tom and Denio</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>3-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Tim and Scrib</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl31>1-3</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Jamie and Kim</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl31>1-3</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Jay-Ave and Shaw</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl31>1-3</td>
                        </tr>
                        <tr height=0 style='display:none'>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                        </tr>
                        </td></tr>
                        <tr>
                            <td colspan="8">* denotes teams that made the play-offs.</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Things looked they would wrap up very early in the first
                    round of pool play but Keith and Phipps managed to drudge out a game that would have ended their
                    night and forced a 6 man game to decide the top of that bracket. The ensuing 6 man game took about
                    an hour and a half to play and took about 3 years off of my life. Phipps and Keith went out first
                    leaving the final two teams to play for second with score 27-28 Adam and Moles. It came down to the
                    last care where Adam and Moles were able to beat a kicker by one to advance to the next round.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table align="center" border=1 width="80%">
                        <tr>
                            <td class=xl25>Seth and Billy</td>
                            <td class=x124>2</td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td class=xl25>Phipps and Keith</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class=xl25>Seth and Billy</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td align="center">vs</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td align="center">vs</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class=xl25>Phipps and Keith</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td class=xl25>Adam and Moles</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td class=xl27>Tom and Denio</td>
                        </tr>
                        </td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keith and Phipps walked over Tom and Denio while Seth and
                    Billy took Adam and Moles to 3 games for the win. All night Billy had been battling I think the
                    plague and put on a truly gutty performance. Then things get blurry, 1) I had a lot to drink; 2) It
                    was about 2/3 in the morning; 3) I immeadiately tried to erase the event from my memory. It came
                    down to a third game both teams could have won and Phipps had the 5, I don't know if he was making a
                    bid, setting a bid, or making a 30 no but it happened. Moments later Keith jumped into Phipps' arms
                    and nearly drove the two of the thru a coffee table.
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>