<html>
<head>
    <title>C.O.P.A.H. 45 Dealings\Tournament IV</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>45 Dealings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Tournament IV Recap</td>
            </tr>
            <!--<%-->
            <!--dim myRS, COUNT-->
            <!--COUNT=1-->
            <!--%>-->
            <form action="file.asp" method="get" name="MyForm">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td align="right"><strong>Date:</strong></td>
                                <td>March 16th, 2002</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Location:</strong></td>
                                <td>The Mole Hole</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Time of Tournament:</strong></td>
                                <td>Aprox. 7 hours</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Number of Players:</strong></td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Tables Used:</strong></td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Purse:</strong></td>
                                <td>$720 ($360 went to Mike Fernandez Fund)</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Winners:</strong></td>
                                <td>Joe and Oakley</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Runners Up:</strong></td>
                                <td>Becky and Sandy</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Pictures:</strong></td>
                                <td>
                                    <a href="{{ url_for('display', event='Tourney4', pic=1) }}" target="_blank">45
                                        Tourney IV</a></td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Player Rankings:</strong></td>
                                <td><a href="rank4.asp">Post Tournament IV</a></td>
                            </tr>
                        </table>
                    <td align="center" width="25%"><img
                            src="{{ url_for('static', filename='graphics/Tourney4/T4-18.jpg')}}" width="70%"><br>The
                        Final
                        Table
                    </td>
                </tr>


                <tr>
                    <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finally what we've all wanted for nearly a year now,
                        Phipps and Keith have lost the title and Joe and Oakley were the one's to take it from them,
                        congratulations. The pictures and new rankings are up and I'm hoping to have all the rest of the
                        info from the tournament up sometime this week. Keep checking back.
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><br>
                        <table align=center border=0>
                            <tr>
                                <td class=xl24 height=71 style='height:23.25pt;width:48pt' width=64>Group&nbsp;A</td>
                                <td class=xl25>Phipps and Keith</td>
                                <td class=xl25>Denio and Billy</td>
                                <td class=xl25>Sandra and Becky</td>
                                <td class=xl25>Tom&nbsp;and&nbsp;Guay</td>
                                <td class=xl25>Shaw and Kendra</td>
                                <td class=xl25>Jay-Ave and Dave</td>
                                <td class=xl25 nowrap>W&nbsp;-&nbsp;L</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>Phipps and Keith</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl29>L</td>
                                <td class=xl31>1-4</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>Denio and Billy</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl29>L</td>
                                <td class=xl31>3-2</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>* Sandra and Becky</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl31>4-1</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>Tom and Guay</td>
                                <td class=xl29>W</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl31>3-2</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>Shaw and Kendra</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl31>1-4</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>* Jay-Ave and Dave</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl31>3-2</td>
                            </tr>
                            <tr height=17 style='height:12.75pt'>
                                <td colspan=8 height=17 style='height:12.75pt;mso-ignore:colspan'></td>
                            </tr>

                            <tr>
                                <td class=xl24 height=68 style='height:23.25pt'>Group&nbsp;B</td>
                                <td class=xl25>Jamie and A.J.</td>
                                <td class=xl25>Scrib and Moosh</td>
                                <td class=xl25>Chief and Morgan</td>
                                <td class=xl25>Rob and Kim</td>
                                <td class=xl25>Narc and Oakley</td>
                                <td class=xl25>Seth and Sharon</td>
                                <td class=xl25>W&nbsp;-&nbsp;L</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>Jamie and A.J.</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl31>1-4</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>Scrib and Moosh</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl31>4-1</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>Chief and Morgan</td>
                                <td class=xl29>W</td>
                                <td class=xl29>L</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl31>1-4</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>Rob and Kim</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl29>L</td>
                                <td class=xl31>1-4</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>* Narc and Oakley</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl29>L</td>
                                <td class=xl31>4-1</td>
                            </tr>
                            <tr height=20 style='height:15.0pt'>
                                <td class=xl27 height=20 style='height:15.0pt'>* Seth and Sharon</td>
                                <td class=xl29>W</td>
                                <td class=xl29>L</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl29>W</td>
                                <td class=xl28>&nbsp;</td>
                                <td class=xl31>4-1</td>
                            </tr>
                            <tr height=0 style='display:none'>
                                <td style='width:48pt' width=64></td>
                                <td style='width:48pt' width=64></td>
                                <td style='width:48pt' width=64></td>
                                <td style='width:48pt' width=64></td>
                                <td style='width:48pt' width=64></td>
                                <td style='width:48pt' width=64></td>
                                <td style='width:48pt' width=64></td>
                                <td style='width:48pt' width=64></td>
                            </tr>
                            </td></tr>
                            <tr>
                                <td colspan="8">* denotes teams that made the play-offs.</td>
                            </tr>
                        </table>
                        <br><br>
                        <table align="center" border=1 width="80%">
                            <tr>
                                <td class=xl25>Sandra and Becky</td>
                                <td class=x124>2</td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td class=xl25>Dave and Jay-Ave</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class=xl25>Sandra and Becky</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td align="center">vs</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="center">vs</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class=xl25>Narc and Oakley</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td class=xl25>Seth and Sharon</td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td>2</td>
                                <td class=xl27>Narc and Oakley</td>
                            </tr>
                            </td></tr>
            </form>
        </table>
        </table></table>
        </table>

    </td>
    </tr>


    </body>
</html>