<html>
<head>
    <title>C.O.P.A.H. 45 Dealings\Tournament VIII</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>45 Dealings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Tournament VIII Recap</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right"><strong>Date:</strong></td>
                            <td>May 10th, 2003</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Location:</strong></td>
                            <td>The Mole Hole</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Time of Tournament:</strong></td>
                            <td>6 Hours</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Number of Players:</strong></td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Tables Used:</strong></td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Purse:</strong></td>
                            <td>$550</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Winners:</strong></td>
                            <td>Tom and Moles</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Runners Up:</strong></td>
                            <td>Scrib and Moosh</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Pictures:</strong></td>
                            <td>
                                <a href="{{ url_for('display', event='Tourney8', pic=1) }}" target="_blank">45 Tourney
                                    VIII</a>
                        </tr>
                        <tr>
                            <td align="right"><strong>Player Rankings:</strong></td>
                            <td><a href="rank8.asp">Post Tournament VIII</a></td>
                        </tr>
                    </table>
                <td align="center" width="25%"><img src="graphics/tourney8/32.jpg" width="70%"><br>Rob and Tom</td>
            </tr>
            <!--<tr><td>About a week in advance we learned the defending champs, Joe and Oakley, would be out for this tournament.  Which means everybody goes back into the hat and with only one new comer this time the odds seemed good for all.  However we were all shamed once again by a new comer and an outsider.  All respect is due though, nice job Mikey and Jeff.  I don't think any of us even know Jeff's last name and he won, very sad.</td></tr>-->
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table align="center" border=0 width="90%">
                        <tr>
                            <td class=xl24 height=71 style='height:23.25pt;width:48pt' width=64>Group&nbsp;A</td>
                            <td class=xl25>Mikey and Jeff</td>
                            <td class=xl25>Morgan and Kelly</td>
                            <td class=xl25>Kendra and Becky</td>
                            <td class=xl25>Dave and Chief</td>
                            <td class=xl25>Scrib and Moosh</td>
                            <td class=xl25>Adam and Keith</td>
                            <td class=xl25 nowrap>W-L</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Mikey and Jeff</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl31>0-5</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Morgan and Kelly</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl31>2-3</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Kendra and Becky</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl31>1-4</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Dave and Chief</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl31>5-0</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Scrib and Moosh</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl31>4-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Adam and Keith</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl31>3-2</td>
                        </tr>

                        <tr height=17 style='height:12.75pt'>
                            <td colspan=8 height=17 style='height:12.75pt;mso-ignore:colspan'></td>
                        </tr>

                        <tr>
                            <td class=xl24 height=68 style='height:23.25pt'>Group&nbsp;B</td>
                            <td class=xl25>Joe and Oakley</td>
                            <td class=xl25>Billy and Jay-Ave</td>
                            <td class=xl25>Sean and Jamie</td>
                            <td class=xl25>Phipps and Guay</td>
                            <td class=xl25>Tom and Moles</td>
                            <td class=xl25 nowrap>W-L</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Joe and Oakley</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl31>1-3</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Billy and Jay-Ave</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl31>3-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Sean and Jamie</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L</td>
                            <td class=xl29>L</td>
                            <td class=xl31>0-4</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Phipps and Guay</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl29>W</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W</td>
                            <td class=xl31>3-1</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>* Tom and Moles</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>W</td>
                            <td class=xl29>L</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl31>3-1</td>
                        </tr>
                        <tr height=0 style='display:none'>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                            <td style='width:48pt' width=64></td>
                        </tr>
                        <tr>
                            <td colspan="8">* denotes teams that made the play-offs.</td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table align="center" border=1 width="80%">
                        <tr>
                            <td class=xl25>Dave and Chief</td>
                            <td class=x124>0</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td class=xl25>Billy and Jay-Ave</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class=xl25>Scrib and Moosh</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td align="center">vs</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td align="center">vs</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class=xl25>Tom and Moles</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td class=xl25>Tom and Moles</td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td class=xl27>Scrib and Moosh</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <!--<tr><td colspan="2">Jeff and Mikey swept and word was starting to spread that they were unbeatable.  Becky and Kendra outlasted Denio and Dave.  After dropping the first Denio and Dave made an amazing come back in the second.  Kendra took a 20 to win which Denio let in but they were able to set them to take control and win game 2.  Game 3 went 3-3,4-2,2-4,3-3,9-0,0-9 (you get the idea) no team ever had control in this one and Becky and Kendra were able to outlast.  From what I was told the championship game went pretty much the same way with Jeff and Mikey having the upper hand.</td></tr>
            <tr><td><br></td></tr>
            <tr><td colspan="2">The attention then shifted upstairs where oddly enough politics was the topic of choice.  A far cry from the flower eating and porno days of the past.  Here's what we learned (if anything):
                <br><li type="circle">Phipps is a Constutionalist
                    <li type="circle">Iraq produces 3% of OPEC's oil
                    <li type="circle">Tom gets crazy when he discusses politics
                    <li type="circle">Phipps wants to blow everything up
                    <li type="circle">Bobby is French
                    <li type="circle">Phipps and Dave will go to Iraq on the front line and Dave's driving
                    <li type="circle">Tom and Dave are somehow friends despite no being able to agree on anyting
                    <li type="circle">Bush wants oil for Enron because his dad couldn't kill Saddam


            </td></tr>
            -->
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul><strong>Some Facts</strong>
                        <li type="circle">Highest Ranked Team: Joe and Oakley (1818)
                        <li type="circle">Lowest Ranked Team: Sean and Jamie (1546)
                        <li type="circle">Most Points Gained (First Round): Dave and Chief (94)
                        <li type="circle">Most Points Lost (First Round): Jeff and Mikey (-105)
                        <li type="circle">Most Points Gained (Total): Tom and Moles (119)
                        <li type="circle">Biggest Jump Up in Rankings: Moles (11 spots)
                        <li type="circle">Biggest Drop Down in Rankings: Jeff (11 spots)
                        <li type="circle">No women made the play-offs for the second time.
                        <li type="circle">Billy and Jay-Ave's win over Joe and Oakley was worth 25 points.
                        <li type="circle">Joe and Oakley's win over Jamie and Sean was worth only 5 points.
                        <li type="circle">If Tom were to beat Jamie in the next tournament Tom would still lose points.
                    </ul>
                </td>
            </tr>


        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>
