<html>
<head>
    <title>C.O.P.A.H. 45 Dealings\Tournament II</title>
    {% include "header.html" %}
    {% include "side.html" %}
    <td align="center" class=main valign="top" width="62%">
        <table cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td class=title>45 Dealings</td>
            </tr>
        </table>
        <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="3" width="96%">
            <tr>
                <td class=boxhead colspan=4>Tournament II Recap</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right"><strong>Date:</strong></td>
                            <td>June 21st, 2001</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Location:</strong></td>
                            <td>The C.O.P.A.H. Beach House</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Time of Tournament:</strong></td>
                            <td>Aprox. 5 hours</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Number of Players:</strong></td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Tables Used:</strong></td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Purse:</strong></td>
                            <td>$240</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Winners:</strong></td>
                            <td>Phipps and Keith</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Runners Up:</strong></td>
                            <td>Jay-Ave and Tom</td>
                        </tr>
                        <tr>
                            <td align="right"><strong>Pictures:</strong></td>
                            <td>
                                <a href="{{ url_for('display', event='Tourney2001', pic=1) }}" target="_blank">45
                                    Tourney II</a></td>
                            -->
                        </tr>
                        <tr>
                            <td align="right"><strong>Player Rankings:</strong></td>
                            <td><a href="rank2.asp">Post Tournament II</a></td>
                        </tr>
                    </table>
                <td align="center" width="25%"><img
                        src="{{ url_for('static', filename='graphics/Tourney2001/Number_1.jpg')}}" width="70%"><br>The
                    Winners:
                    Phipps and Keith
                </td>
            </tr>

            <tr>
                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;After months of tireless planning and re-planning and
                    re-re-planning and so on and so forth the 2001 Invitational COPAH 45 Tournament finally took place
                    on June 21st, 2001. We used a table format which proved to work all right. <i>(below you can find
                        the table</i> The original plans said that in the event of a tie the team with the highest point
                    differential would be the winner but Tom and Ave chose not to have it that way. While it may have
                    been the admirable thing to do the result could not have been worse for them. Phipps and Keith
                    squashed Tom and Ave in about 20 minutes flat.
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table align="center" border=0 width="90%">
                        <tr>
                            <td class=xl24 height=71 style='height:23.25pt;width:48pt' width=64>&nbsp;</td>
                            <td class=xl25>Morgan and Sandy</td>
                            <td class=xl25>Phipps and Keith</td>
                            <td class=xl25>Adam and Jason</td>
                            <td class=xl25>Dave and Denio</td>
                            <td class=xl25>Jaime and Moosh</td>
                            <td class=xl25>Jay-Ave and Tom</td>
                            <td class=xl25 nowrap>W-L</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Morgan and Sandy</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L21-31</td>
                            <td class=xl29>W31-18</td>
                            <td class=xl29>W35-28</td>
                            <td class=xl29>W37-24</td>
                            <td class=xl29>L16-35</td>
                            <td class=xl29>3-2</td>
                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Phipps and Keith</td>
                            <td class=xl29>W31-21</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W32-11</td>
                            <td class=xl29>W37-24</td>
                            <td class=xl29>L05-31</td>
                            <td class=xl29>W33-05</td>
                            <td class=xl29>4-1</td>

                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Adam and Jason</td>
                            <td class=xl29>L18-31</td>
                            <td class=xl29>W11-32</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W32-23</td>
                            <td class=xl29>W33-28</td>
                            <td class=xl29>W20-31</td>
                            <td class=xl29>2-3</td>

                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Dave and Denio</td>
                            <td class=xl29>L28-35</td>
                            <td class=xl29>L24-37</td>
                            <td class=xl29>L23-32</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>W35-25</td>
                            <td class=xl29>L(-11)-38</td>
                            <td class=xl29>1-4</td>

                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Jamie and Moosh</td>
                            <td class=xl29>L24-37</td>
                            <td class=xl29>W31-05</td>
                            <td class=xl29>L28-33</td>
                            <td class=xl29>L25-35</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=xl29>L02-31</td>
                            <td class=xl29>1-4</td>

                        </tr>
                        <tr height=20 style='height:15.0pt'>
                            <td class=xl27 height=20 style='height:15.0pt'>Jay-Ave and Tom</td>

                            <td class=xl29>W35-16</td>
                            <td class=xl29>L05-33</td>
                            <td class=xl29>W31-20</td>
                            <td class=xl29>W38-(-11)</td>
                            <td class=xl29>W31-02</td>
                            <td class=xl28>&nbsp;</td>
                            <td class=x129>4-1</td>

                        </tr>
                    </table>
            <tr>
                <td><br></td>
            </tr>
            </td></tr>

        </table>
        </table>
        </table>

    </td>
    </tr>


    </body>
</html>
